{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}
  Restablecer contraseña
{% endblock head_title %}
{% block inner %}
  <h1>Restablecer contraseña</h1>
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  <p>
    ¿Has olvidado tu contraseña?. Introduce tu dirección de correo electrónico y te enviaremos un mensaje para que puedas restablecerla.
  </p>
  <form method="post"
        action="{% url 'account_reset_password' %}"
        class="password_reset">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-primary"
           type="submit"
           value="Restablecer contraseña" />
  </form>
  <p>Ponte en contacto con nosotros si tienes problemas para restablecer tu contraseña.</p>
{% endblock inner %}
