{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
  Cambio de contraseña
{% endblock head_title %}
{% block inner %}
  <h1>
    {% if token_fail %}
      Token inválido
    {% else %}
      Cambiar contraseña
    {% endif %}
  </h1>
  {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>
      El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha utilizado. Por favor, solicita una <a href="{{ passwd_reset_url }}">nueva solicitud de restablecimiento de contraseña</a>.
    </p>
  {% else %}
    {% if form %}
      <form method="post" action=".">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary"
               type="submit"
               name="action"
               value="Cambiar contraseña" />
      </form>
    {% else %}
      <p>Tu contraseña ha sido cambiada.</p>
    {% endif %}
  {% endif %}
{% endblock inner %}
