{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
  Verificación de dirección de correo electrónico
{% endblock head_title %}
{% block inner %}
  <h1>Verificación de dirección de correo electrónico</h1>
  {% url 'account_email' as email_url %}
  <p>
    Esta parte del sitio requiere que verifiquemos que eres es quien dices ser. 
    Para ello, necesitamos que verifiques la titularidad de tu dirección de correo electrónico.
  </p>
  <p>
    <strong>Nota:</strong> aún puedes <a href="{{ email_url }}">cambiar tu dirección de correo electrónico</a>.
  </p>
{% endblock inner %}
