{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8"> 
            <h2>Resultados de la búsqueda:</h2>
            {% if page_obj %}
                {% for contenido in page_obj %}
                <div class="card mb-3 bg-light text-dark">
                    <div class="row g-0">
                        <div class="card-header text-center bg-primary text-white border-success">
                            {{ contenido.titulo }}
                        </div>
                        <div class="card-body">
                            <p>{{ contenido.contenido|safe|truncatechars:200 }}</p>
                            <div class="mt-auto text-end">
                                <a href="{% url 'contenido:contenido_detalle' contenido.id %}" class="btn btn-primary">Ver
                                    más</a>
                            </div>
                        </div>
                        <div class="card-footer text-body-secondary bg-light text-dark text-end">
                            <p>{{ contenido.categoria }}</p>
                            <p>{{ contenido.autor }}</p>
                            <p>Publicado el {{ contenido.fechaCreacion }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>No hay resultados.</p>
            {% endif %}
        </div>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Anterior</a>
        </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        <li class="page-item{% if page_obj.number == i %} active{% endif %}">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock content %}