{% extends "base.html" %}

{% load comment_tags %}
{% load reaction_tags %}
{% load rating_tags %}

{% block content %}



<div class="toast align-items-center text-bg-light position-fixed top-0 start-50 translate-middle-x" role="alert"
    aria-live="assertive" aria-atomic="true" style="z-index: 9999;">
    <div class="d-flex">
        <div class="toast-body">
            Enlace copiado al portapapeles.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
    </div>
</div>

<div class="container mt-5">
    <div class="col-md-8">
        <div class="card mb-3 bg-light ">
            <div class="row g-0">
                <div class="card-header text-center bg-primary text-white">{{ contenido.titulo }}</div>
                <div class="card-body">
                    <p>{{ contenido.contenido|safe }}</p>
                </div>
                <div class="card-footer text-body-secondary bg-light d-flex justify-content-between align-items-center">
                    <div>
                        <p>{{ contenido.categoria }}</p>
                        <p>{{ contenido.autor }}</p>
                        <p>Publicado el {{ contenido.fechaCreacion }}</p>
                    </div>
                    <div class="d-flex align-items-center ms-auto">
                        {% render_reaction_import %}
                        {% render_reaction request obj=contenido settings_slug='default-config' %}
                        {% render_reaction_script %}
                        <div class="d-flex align-items-center ms-3 " style="font-size: 1.3rem;">
                          <button id="botonFavorito" onclick=" actualizarFavorito()" class=" text-black pl-2">
                            {% if favorito %}
                            <i class="bi bi-bookmark-fill bi-lg"></i>
                            
                        {% else %}
                            <i class="bi bi-bookmark bi-lg"></i>
                            
                        {% endif %}
                          </button>
                          <div class="ms-auto">
                            <div class="dropdown ms-3">
                                <a href="#" class="text-dark" role="button" id="dropdownMenuLink"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-box-arrow-up bi-lg"></i>
                                </a>
                                <ul class="dropdown-menu text-bg-light" aria-labelledby="dropdownMenuLink"
                                    style="position: absolute; right: 0;">
                                    <!-- Dropdown menu links -->
                                    <li class="text-center mt-0 mb-1"><button id="copy-btn"><i class="bi bi-link-45deg" style="font-size: 1rem;"></i>  Copiar enlace</button></li>
                                </ul>
                            </div>
                        </div>
                      </div>
                      
                    </div>
                </div>
            </div>
        </div>
        {% render_rating_import %}
        <div class="d-flex justify-content-between">
            <div>{% render_rating request=request obj=contenido settings_slug='default-config' %}</div>
            <div>{% render_rating_info request=request obj=contenido settings_slug='default-config' %}</div>
        </div>
        {% render_rating_script %}
        <br />
        {% render_comments request obj=contenido settings_slug='default-config' %}
    </div>

</div>
<script>
    window.onload = function() {
        const contenidoId = window.location.pathname.split('/')[2];
        const csrftoken =getCookie('csrftoken');

   // Recuperar el estado de 'favorito' de la base de datos al cargar la página
    fetch(`/contenido/es_favorito/${contenidoId}/`, {
        headers: {
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
            'X-CSRFToken': csrftoken
        },
    })
    .then(response => response.json())
    .then(data => {
        favorito = data.favorito;
        actualizarBotonFavorito(favorito);
    });
    }

    function actualizarBotonFavorito(favorito) {
        
        const botonFavorito = document.getElementById('botonFavorito');
        if (favorito) {
            botonFavorito.innerHTML = '<i class="bi bi-bookmark-fill bi-lg"></i>';
        } else {
            botonFavorito.innerHTML = '<i class="bi bi-bookmark bi-lg"></i>';
        }
        
    }

    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

    function actualizarFavorito() {
        const contenidoId = window.location.pathname.split('/')[2];
        const csrftoken =getCookie('csrftoken');
        fetch(`/contenido/favorito/${contenidoId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrftoken,  // Necesitas obtener este token de alguna manera
            },
        })
        .then(response => response.json())
        .then(data => {
            favorito = data.favorito;
            actualizarBotonFavorito(favorito);
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl, { autohide: true, delay: 2500 })
        })

        document.getElementById('copy-btn').addEventListener('click', function () {
            var url = window.location.protocol + "//" + window.location.host + window.location.pathname;
            navigator.clipboard.writeText(url).then(function () {
                console.log('Enlace copiado al portapapeles');
                toastList[0].show();
            }, function () {
                console.log('Error al copiar el enlace');
                // Manejo del error aquí
            });
        });
    });

</script>
{% endblock content %}
