{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        {% if page_obj %}
          {% for contenido in page_obj %}
            <a class="link-light"
               href="{% url 'contenido:contenido_detalle' contenido.id %}">
              <div class="card mb-3 bg-light text-dark">
                <div class="row g-0">
                  <div class="card-header text-center card-link">{{ contenido.titulo }}</div>
                </a>
                <div class="card-body">
                  <p>{{ contenido.contenido|safe|truncatechars:200 }}</p>
                </div>
                <div class="card-footer text-body-secondary bg-light text-dark text-end">
                  <p>
                    <a href="{% url 'contenido:contenido_busqueda' %}?categoria={{ contenido.categoria.titulo }}">
                    {{ contenido.categoria.titulo }}</a>
                  </p>
                  <p>
                    <a href="{% url 'contenido:contenido_busqueda' %}?autor={{ contenido.autor.username }}">
                    {{ contenido.autor.username }}</a>
                  </p>
                  <p>Publicado el {{ contenido.fechaCreacion }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p>No hay resultados.</p>
        {% endif %}
      </div>
      <div class="col-md-4">{% include "pages/categorias.html" %}</div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if page_obj.number > 1 %}
            <li class="page-item">
              <a class="page-link"
                 href="?page={{ page_obj.previous_page_number }}"
                 tabindex="-1">Anterior</a>
            </li>
          {% endif %}
          {% for i in page_obj.paginator.page_range %}
            <li class="page-item{% if page_obj.number == i %} active{% endif %}">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
          {% endfor %}
          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endblock content %}
  </div>
</div>
