{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block result_list %}
<style>
.states-container {
    display: flex;
}

.state {
    flex: 1;
    margin-right: 10px;
    background-color: #f9f9f9;
}

.state-card {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 10px;
    margin: 10px 10px;
}
</style>

<section>
    {% csrf_token %}
    <h1>Tablero Kanban</h1>
    <div class="states-container">
        {% for estado, contenidos in kanban_board_elements.items %}
        <div class="state">
            <h2>{{ estado }}</h2>
            {% for contenido in contenidos %}
            <div class="state-card">
                <a href="{% url 'admin:contenido_contenido_change' contenido.id %}">
                    {{ contenido.titulo }}
                </a>
                <br>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}