{% extends "admin/submit_line.html" %}

{% block submit-row %}
  {% if show_button_revision %}<input type="submit" value="Enviar a revisión" name="_aRevision" />{% endif %}
  {% if show_button_a_publicar %}<input type="submit" value="Enviar a publicar" name="_aPublicar" />{% endif %}
  {% if show_button_publicar %}<input type="submit" value="Publicar" name="_aPublicado" />{% endif %}
  {% if show_button_rechazar %}<input type="submit" value="Rechazar" name="_aRechazado" />{% endif %}
  {% if show_button_borrador %}<input type="submit" value="Enviar a borrador" name="_aBorrador" />{% endif %}
  {{ block.super }}
{% endblock submit-row %}
